.imgMain {
    background-image: url('../../img/su-35.jpg');
    background-position: 0px -103px;
    background-size: cover;
    height: 300px;    
}
.content{
    padding: 12px;
}

.statusLabel{
    cursor: pointer;
    margin: 12px 0;
}
.statusInput{
    margin: 12px 0;
    border-radius: 9px;
    display: block;
}