.avatar {
    width: 50px;
    border-radius: 9px;
}

.item {
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
    border-bottom: .5px solid #eee;
    padding-bottom: 5px;
}

.btn {
    height: 33px;
    border-radius: 8px;
}

.text {
    flex-grow: 1;
    padding-left: 3px;
}