.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 12vmin;
    pointer-events: none;
    color: #deb887;
}

button:focus {
    outline: none;
}

#root {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 150px 10fr;
    grid-gap: 9px;
    height: 90vh;
}

.content {
    grid-area: c;
    background-color: rgb(247, 202, 144);
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}