.nav{
  grid-area: n;
  height: 100%;
  background-color: #deb887;
  padding:12px;
}

.point{
  color:darkgreen;
  display: block;
  text-decoration: none;
}

.point:hover{
  text-decoration: none;
  font-weight: 700; 
  color:black; 
}

.current{
  color: aliceblue;
}